{% extends "main.html" %}

{% block side-menu %}
    <li><a href="{% url 'post_list' %}">Blog's posts</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'post_create' %}">Create new post</a></li>
        <li><a href="{% url 'user_detail' request.user.id %}">Profile</a></li>
        <li><a href="{% url 'profile' %}">Update profile</a></li>
        <li><a href="{% url 'logout' %}">Log-out</a></li>
    {% else %}
        <li class="active"><a href="{% url 'registration' %}">Registration</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">Fill all fields for registration</div>
  <div class="panel-body">
    <form method="POST" class="form-group">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <button type="submit" class="btn btn-success">Register</button>
    </form>
  </div>
</div>

{% endblock %}