{% extends "main.html" %}

{% block title %}List of posts{% endblock %}

{% block side-menu %}
    <li class="active"><a href="{% url 'post_list' %}">Blog's posts</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'post_create' %}">Create new post</a></li>
        <li><a href="{% url 'user_detail' request.user.id %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Log-out</a></li>
    {% else %}
        <li><a href="{% url 'registration' %}">Registration</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
{% endblock %}

{% block content %}

        <div>
            <h1>List of posts:</h1>
        </div>
        <table>

            {% for post in page_obj %}
              <h4><small>RECENT POSTS</small></h4>
              <hr>
              <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
              <h5>
                  <span class="glyphicon glyphicon-time"></span>
                  Post by <a href="{% url 'user_detail' post.author.id %}" >{{ post.author }}</a>.
              </h5>
              <p>{{ post.brief_description }}</p>
              <br><br>

            {% empty %}
            <p>No available posts found</p>
            {% endfor %}
        </table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
