{% extends 'main.html' %}

{% block title %}Url shortener{% endblock %}

{% block side-menu %}
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'url_shortener' %}">Create new shortcut</a></li>
        <li><a href="{% url 'logout' %}">Log-out</a></li>
    {% else %}
        <li><a href="{% url 'registration' %}">Registration</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Welcome!</h1>
    <p>Please register for creating shortcut for url!</p>
{% endblock %}